@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="ui-widget-content ui-corner-all" style="padding:10px">
<p>ONLINE RESTAURANT BOOKING SYSTEM is primarily an online table booking application, which can be implemented in any Bar or Restaurant, it has many more features to support the day to day tasks of managing a restaurant's table reservation process.</p>
<p>
This website (bookmytable.apphb.com) provides an interface for both the restaurants’ customers and owner. It recognizes four types of user viz. Admin, Employee, Customer and Guest.
</p><p>
The Customers have option of either registering directly or by connecting via their Facebook account. Employees and Admins are registered by any existing Admin.
</p><p>
For a Guest or Customer this application provides features to book a new table, cancel any previous booking, pre-book menu items and manage their account, 
Whereas an admin is provided with interface to administer the website by adding/removing an employee or another admin, to add/remove seasonal offers and coupons and to add/remove tables in the restaurant or change the floor plan altogether.
</p><p>
An Employee is provided an interface to run the restaurant by listing daily cooking estimation, administering bookings by the customers, to oversee the status of the tables in the restaurant and to add/remove menu items from the Restaurant menu list.
</p>
</div>