<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FacebookAppId" value="282846641795872" />
    <add key="FacebookAppSecret" value="d0d62aff23b716bab6385c89ce24a38a" />
    <add key="BookingSlotMinutes" value="30" />
    <add key="MediumPageSize" value="10" />
    <add key="LargePageSize" value="25" />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="RestaurantDB" connectionString="Data Source=.\SQLEXP2008;Initial Catalog=RestaurantBookingDB;User ID=sa;Password=H&amp;C(&amp;C^&amp;JB" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="60" slidingExpiration="true" name=".ASPXAUTH" cookieless="UseCookies" enableCrossAppRedirects="false" requireSSL="false"/>
    </authentication>

    <membership defaultProvider="CustomSqlMembershipProviderWrapper">
      <providers>
        <clear/>
        <add
          name="CustomSqlMembershipProviderWrapper"
          type="RestaurantBookingSystem.Infrastructure.Providers.CustomSqlMembershipProviderWrapper"
          description="A custom membership provider Warpper around SqlMembershipProvider with some customization"
          connectionStringName="RestaurantDB"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          maxInvalidPasswordAttempts="10"
          passwordAttemptWindow="10"
          minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="0"
          applicationName="RestaurantBookingSystem"
          passwordFormat="Hashed"
        />
      </providers>
    </membership>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <customErrors mode="Off" />
    <machineKey decryptionKey="1C099FEAB625F1545A1FD6CCBCF307374BCB0EDDE8B67988" validationKey="2EB855657EBD179D23B9B4741D1DFD49EECDF3D609EF36DB68054BA525FB9CBC4D0735B38DB093CD1D0FED73B85027639BCED55CF3D0F6D8111A053FB018742F" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
